{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": false,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 4,
  "arrowParens": "always",
  "proseWrap": "never",
  "useTabs": false,
  "endOfLine": "lf"
}
